USE [master]
GO
/****** Object:  Database [Heros_GYM]    Script Date: 1/25/2024 2:36:22 AM ******/
CREATE DATABASE [Heros_GYM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Heros_GYM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Heros_GYM.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Heros_GYM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Heros_GYM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Heros_GYM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Heros_GYM]
GO
/****** Object:  Table [dbo].[Memberships]    Script Date: 1/25/2024 2:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Memberships](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Amount] [int] NULL,
	[Period] [int] NULL,
	[User_Id] [int] NULL,
	[IsDeleted] [char](1) NULL,
	[UserDeleted] [int] NULL,
 CONSTRAINT [PK_Memberships] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/25/2024 2:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[IsDeleted] [char](1) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[GetAllDeletedMemberShipsData]    Script Date: 1/25/2024 2:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[GetAllDeletedMemberShipsData]
AS
SELECT ms.Name [MemberShip], ms.Amount[Max Amount], ms.Period[Period(Months)], u.Name[User Deleted]
FROM Memberships ms, Users u
where u.Id = ms.User_Id and ms.IsDeleted = 't'
GO
/****** Object:  Table [dbo].[Members]    Script Date: 1/25/2024 2:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Email] [varchar](max) NULL,
	[Age] [int] NULL,
	[Gender] [char](1) NULL,
	[User_Id] [int] NULL,
	[Membership_Id] [int] NULL,
	[IsDeleted] [char](1) NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[GetAllMemberShipsData]    Script Date: 1/25/2024 2:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[GetAllMemberShipsData]
as
select ms.Name [Membership], COUNT(m.Id) [Count Of Members], ms.Amount [Max Amount], ms.Period[Period(in Months)], u.Name[User Added]
from Memberships ms left join Members m on ms.Id = m.Membership_Id
left join Users u on u.Id = ms.User_Id
where ms.IsDeleted = 'f'
group by ms.Name, ms.Amount, ms.Period, u.Name
GO
/****** Object:  Table [dbo].[Member_Programs]    Script Date: 1/25/2024 2:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member_Programs](
	[Member_Id] [int] NOT NULL,
	[Program_Id] [int] NOT NULL,
	[EndDate] [date] NULL,
	[StartDate] [date] NOT NULL,
 CONSTRAINT [PK_Member_Programs] PRIMARY KEY CLUSTERED 
(
	[Member_Id] ASC,
	[Program_Id] ASC,
	[StartDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Programs]    Script Date: 1/25/2024 2:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Programs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Description] [varchar](max) NULL,
	[Salary] [money] NULL,
	[UserId] [int] NULL,
	[UserDeleted] [int] NULL,
	[IsDeleted] [char](1) NULL,
 CONSTRAINT [PK_Programs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[GetAllProgramsData]    Script Date: 1/25/2024 2:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[GetAllProgramsData]
as
select p.Name [Program], COUNT(mp.Member_Id) [Count Of Members], p.Description [Description], p.Salary [Salary], u.Name[User Added], p.Id
from Programs p left join Member_Programs mp on p.Id = mp.Program_Id
left join Users u on u.Id = p.UserId
where P.IsDeleted = 'f'
group by p.Name, p.Description, p.Salary, u.Name, p.Id
GO
/****** Object:  View [dbo].[GetAllDeletedProgramsData]    Script Date: 1/25/2024 2:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[GetAllDeletedProgramsData]
AS
SELECT p.Name [Program], p.[Description], p.Salary [Salary], u.Name[User Deleted]
FROM Programs p, Users u
where u.Id = p.UserId and p.IsDeleted = 't'
GO
/****** Object:  View [dbo].[MembershipCountsView]    Script Date: 1/25/2024 2:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create   VIEW [dbo].[MembershipCountsView] AS
SELECT ms.Id, ms.Name [MembershipName], ms.Amount [MembershipAmount],
    ms.Period [MembershipPeriod], COUNT(m.Id) [MemberCount]
FROM Members m full outer join Memberships ms ON m.Membership_Id = ms.Id WHERE
ms.Amount >= (SELECT COUNT(*) FROM Members m2 WHERE m2.Membership_Id = m.Membership_Id AND m2.IsDeleted = 'f' )
AND ms.IsDeleted = 'f'
GROUP BY ms.Id, ms.Name, ms.Amount, ms.Period, ms.IsDeleted;
GO
/****** Object:  Table [dbo].[Coaches]    Script Date: 1/25/2024 2:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coaches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Email] [varchar](max) NULL,
	[Program_Id] [int] NULL,
	[User_Id] [int] NULL,
	[IsDeleted] [char](1) NULL,
 CONSTRAINT [PK_Coaches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[GetAllCoachesData]    Script Date: 1/25/2024 2:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[GetAllCoachesData]
as
select c.Name [Coach], p.Name [Program], c.Email [Email], u.Name[User Added]
from Coaches c left join Programs p on c.Program_Id = p.Id
left join Users u on u.Id = c.User_Id
where c.IsDeleted = 'f'
GO
/****** Object:  Table [dbo].[Coach_Addresses]    Script Date: 1/25/2024 2:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coach_Addresses](
	[Id] [int] NOT NULL,
	[Address] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Coach_Addresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[Address] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coach_Phones]    Script Date: 1/25/2024 2:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coach_Phones](
	[Id] [int] NOT NULL,
	[Phone] [int] NOT NULL,
 CONSTRAINT [PK_Coach_Phones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetectMembershipsUpdated]    Script Date: 1/25/2024 2:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetectMembershipsUpdated](
	[Name] [varchar](50) NULL,
	[Amount] [int] NULL,
	[Period] [int] NULL,
	[UserUpdated] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member_Phones]    Script Date: 1/25/2024 2:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member_Phones](
	[Id] [int] NOT NULL,
	[Phone] [int] NOT NULL,
 CONSTRAINT [PK_Member_Phones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 1/25/2024 2:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [decimal](18, 1) NULL,
	[Date] [date] NULL,
	[Time] [time](0) NULL,
	[User_Id] [int] NULL,
	[Member_Id] [int] NULL,
	[IsDeleted] [char](1) NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Coaches] ADD  CONSTRAINT [DF_Coaches_IsDeleted]  DEFAULT ('f') FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Members] ADD  CONSTRAINT [DF_Members_IsDeleted]  DEFAULT ('f') FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Memberships] ADD  CONSTRAINT [DF_Memberships_IsDeleted]  DEFAULT ('f') FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Payments] ADD  CONSTRAINT [DF_Payments_IsDeleted]  DEFAULT ('f') FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Programs] ADD  CONSTRAINT [DF_Programs_IsDeleted]  DEFAULT ('f') FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Coach_Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Coach_Addresses_Coaches] FOREIGN KEY([Id])
REFERENCES [dbo].[Coaches] ([Id])
GO
ALTER TABLE [dbo].[Coach_Addresses] CHECK CONSTRAINT [FK_Coach_Addresses_Coaches]
GO
ALTER TABLE [dbo].[Coach_Phones]  WITH CHECK ADD  CONSTRAINT [FK_Coach_Phones_Coaches] FOREIGN KEY([Id])
REFERENCES [dbo].[Coaches] ([Id])
GO
ALTER TABLE [dbo].[Coach_Phones] CHECK CONSTRAINT [FK_Coach_Phones_Coaches]
GO
ALTER TABLE [dbo].[Coaches]  WITH CHECK ADD  CONSTRAINT [FK_Coaches_Programs] FOREIGN KEY([Program_Id])
REFERENCES [dbo].[Programs] ([Id])
GO
ALTER TABLE [dbo].[Coaches] CHECK CONSTRAINT [FK_Coaches_Programs]
GO
ALTER TABLE [dbo].[Coaches]  WITH CHECK ADD  CONSTRAINT [FK_Coaches_Users] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Coaches] CHECK CONSTRAINT [FK_Coaches_Users]
GO
ALTER TABLE [dbo].[Member_Phones]  WITH CHECK ADD  CONSTRAINT [FK_Member_Phones_Members] FOREIGN KEY([Id])
REFERENCES [dbo].[Members] ([Id])
GO
ALTER TABLE [dbo].[Member_Phones] CHECK CONSTRAINT [FK_Member_Phones_Members]
GO
ALTER TABLE [dbo].[Member_Programs]  WITH CHECK ADD  CONSTRAINT [FK_Member_Programs_Members] FOREIGN KEY([Member_Id])
REFERENCES [dbo].[Members] ([Id])
GO
ALTER TABLE [dbo].[Member_Programs] CHECK CONSTRAINT [FK_Member_Programs_Members]
GO
ALTER TABLE [dbo].[Member_Programs]  WITH CHECK ADD  CONSTRAINT [FK_Member_Programs_Programs] FOREIGN KEY([Program_Id])
REFERENCES [dbo].[Programs] ([Id])
GO
ALTER TABLE [dbo].[Member_Programs] CHECK CONSTRAINT [FK_Member_Programs_Programs]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK_Members_Memberships] FOREIGN KEY([Membership_Id])
REFERENCES [dbo].[Memberships] ([Id])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK_Members_Memberships]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK_Members_Users] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK_Members_Users]
GO
ALTER TABLE [dbo].[Memberships]  WITH CHECK ADD  CONSTRAINT [FK_Memberships_Users] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Memberships] CHECK CONSTRAINT [FK_Memberships_Users]
GO
ALTER TABLE [dbo].[Memberships]  WITH CHECK ADD  CONSTRAINT [FK_Memberships_Users1] FOREIGN KEY([UserDeleted])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Memberships] CHECK CONSTRAINT [FK_Memberships_Users1]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Members] FOREIGN KEY([Member_Id])
REFERENCES [dbo].[Members] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Members]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Users] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Users]
GO
ALTER TABLE [dbo].[Programs]  WITH CHECK ADD  CONSTRAINT [FK_Programs_Users] FOREIGN KEY([UserDeleted])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Programs] CHECK CONSTRAINT [FK_Programs_Users]
GO
ALTER TABLE [dbo].[Programs]  WITH CHECK ADD  CONSTRAINT [FK_Programs_Users1] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Programs] CHECK CONSTRAINT [FK_Programs_Users1]
GO
USE [master]
GO
